@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #171719;
}

#app {
  width: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.aside {
  flex: 0 0 40px;
}

@media screen and (max-width: 320px) {
  .aside {
    display: none;
  }
}

.nav {
  height: 100%;
}

.nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.nav i.fa {
  font-size: 18px;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .content {
    width: 100%;
  }
}

.music-head {
  flex: 0 0 280px;
  display: flex;
  padding: 40px;
  background-color: #4e4e4e;
}

@media screen and (max-width: 320px) {
  .music-head {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 16px;
  }
}

.music-head img {
  width: 250px;
  height: auto;
}

.catty-music {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  color: #fff;
  padding-left: 50px;
}

@media screen and (max-width: 320px) {
  .catty-music {
    padding: 0;
    margin-top: 15px;
    align-items: center;
  }

  .catty-music > div:first-child {
    margin-bottom: 15px;
  }

  .catty-music > div p:nth-child(2),
  .catty-music > div p:nth-child(3) {
    display: none;
  }
}

.playlist-controls {
  display: flex;
}

.playlist-controls div {
  margin-right: 30px;
}

.playlist-controls div i {
  padding-right: 5px;
}

.music-list {
  flex: 1 0 auto;
  list-style-type: none;
  padding: 5px 10px 0px;
}

.music-list li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 50px;
}

.music-list li p {
  flex: 0 0 25%;
}

@media screen and (max-width: 320px) {
  .music-list li p:nth-child(2n) {
    display: none;
  }

  .music-list li p {
    flex: 0 0 50%;
  }

  .music-list li p:nth-child(3) {
    text-align: right;
  }
}

.music-list li span.catty-cloud {
  border: 1px solid black;
  font-size: 0.6em;
  padding: 3px;
}

.music-list li:nth-child(2n) {
  background-color: #f2f2f2;
}

.footer {
  flex: 0 0 90px;
  display: flex;
  padding: 10px;
  color: #fff;
  background-color: rgba(61, 100, 158, 0.9);
}

.footer-left {
  display: flex;
}

.footer-left img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

@media screen and (max-width: 320px) {
  .footer-left img {
    display: none;
  }
}

.footer-left div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right i {
  padding: 0 40px;
}

@media screen and (max-width: 320px) {
  .footer-right i {
    padding: 0 20px;
  }
  .footer-right i:nth-child(4),
  .footer-right i:nth-child(5) {
    display: none;
  }
}
